<form action="lotto_result" method="POST">
    <input type="text" name="lotto_round" placeholder="회차"> <br/><br/>
    <input type="number" name="lotto_num_1" placeholder="1번째 숫자"><br/><br/>
    <input type="number" name="lotto_num_2" placeholder="2번째 숫자"><br/><br/>
    <input type="number" name="lotto_num_3" placeholder="3번째 숫자"><br/><br/>
    <input type="number" name="lotto_num_4" placeholder="4번째 숫자"><br/><br/>
    <input type="number" name="lotto_num_5" placeholder="5번째 숫자"><br/><br/>
    <input type="number" name="lotto_num_6" placeholder="6번째 숫자"><br/><br/>
    <input type="submit" value="조회">
</form>