<div class="jumbotron text-center">
  <p class="lead">작성자 정보</p>
  <h1 class="display-4">{{ board.user }}</h1>
  <hr class="my-4">
  <p class="lead">
    팔로잉 : {{ person.followings.all | length }} / 팔로워 : {{ person.followers.all | length }}
  </p>
  {% if request.user != person %}
    {% if request.user in person.followers.all %}
      <a class="btn btn-primary btn-lg" href="{% url 'boards:follow' board.pk person.pk %}">Unfollow</a>
    {% else %}
      <a class="btn btn-primary btn-lg" href="{% url 'boards:follow' board.pk person.pk %}">Follow</a>
    {% endif %}
  {% endif %}
</div>
